---
import { Image } from "astro:assets"
import beOurGuestImg from "@/assets/be-our-guest.png"
---

<div class="overflow-hidden">
  <Image
    src={beOurGuestImg}
    alt="Be Our Guest !"
    class="relative left-1/2 mx-auto min-w-[1440px] -translate-x-1/2"
  />
</div>
