#main-slide {
  .swiper-pagination-bullet {
    width: 26px;
    height: 26px;
    -webkit-mask-image: url(/heart.svg);
    mask-image: url(/heart.svg);
    mask-size: cover;

    &-active {
      @apply bg-black-light;
    }
  }


  @screen pc {
    .swiper-pagination {
      @apply inline-flex flex-col bottom-16 right-12 left-auto w-[2.6rem] gap-3;
    }
  }

  .swiper-slide:not(.swiper-slide-active):not(.swiper-slide-visible) {
    .animate {
      transform: scale(1);
      transition: transform 6s linear;
    }
  }
  .swiper-slide-active, .swiper-slide-visible {
    .animate {
      transform: scale(1.15);
      transition: transform 6s linear;
    }
  }
}

