#main-slide {
  .swiper-pagination-bullet {
    width: 24px;
    height: 24px;
    -webkit-mask-image: url(/heart.svg);
    mask-image: url(/heart.svg);
    mask-size: cover;

    &-active {
      @apply bg-black-light;
    }
  }

  .swiper-pagination {
    @apply inline-flex flex-col bottom-8 right-8 left-auto w-[2.4rem] gap-3;
  }

  .swiper-slide:not(.swiper-slide-active) {
    .animate {
      @apply animate-[zoom-in_6s_linear_both];
    }
  }
  .swiper-slide-active {
    .animate {
      @apply animate-[zoom-in_6s_linear_both];
    }
  }
}