---
import { Image } from "astro:assets"
import type { ImageMetadata } from "astro"
import { shuffleArray } from "~/utils"
import { getLangFromUrl, useTranslations } from "~/i18n/utils"

// import { range } from "~/utils"
const galleries = await Astro.glob<{ default: ImageMetadata }>(
  "/src/assets/gallery/*.{png,jpg,jpeg}"
)

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section id="gallery" class="bg-white px-[5vw] py-[4vw]">
  <h3 class="text-[2.2rem] tracking-[1.4rem] text-green-400">GALLERY</h3>
  <h2
    class="font-cormorant text-[4.8rem] leading-[1.4em] tracking-widest text-black-light"
  >
    OUR MEMORIES
  </h2>
  <div class="mt-[3rem] flex gap-4 text-[1.6rem]">
    <button
      data-script="filterAll"
      class="bg-green-400 px-4 py-2 text-white hover:bg-green-400 hover:text-white"
    >
      {t("all")}
    </button>
    <button
      data-script="filterWesternStyle"
      class="px-4 py-2 hover:bg-green-400 hover:text-white"
    >
      {t("western")}
    </button>
    <button
      data-script="filterJapanStyle"
      class="px-4 py-2 hover:bg-green-400 hover:text-white"
    >
      {t("japanese")}
    </button>
  </div>
  <ul
    id="album"
    class="mt-[4rem] flex h-[49rem] snap-x flex-col flex-wrap gap-[1.6rem] overflow-auto scroll-smooth"
  >
    {
      shuffleArray(galleries).map((gallery, index) => (
        <li class="h-[22.5rem] w-[32rem] snap-start overflow-hidden bg-green-100/50 transition-all duration-200">
          <Image
            src={gallery.default}
            alt={`ảnh cưới cô dâu chú rể ${index}`}
            class="relative left-1/2 h-full w-auto max-w-none -translate-x-1/2"
          />
        </li>
      ))
    }
  </ul>
</section>

<script>
  const westImages = document.querySelectorAll("#gallery img[src*=west]")
  const japanImages = document.querySelectorAll("#gallery img[src*=jap]")
  const activeClasses = ["bg-green-400", "text-white"]

  const filterWesternStyle = document.querySelector(
    "[data-script=filterWesternStyle]"
  )
  const filterJapanStyle = document.querySelector(
    "[data-script=filterJapanStyle]"
  )
  const filterAll = document.querySelector("[data-script=filterAll]")

  const album = document.getElementById("album")

  const hide = (elm: Element) => {
    elm?.parentElement?.classList.add("opacity-0")
    setTimeout(() => {
      elm?.parentElement?.classList.add("hidden")
    }, 200)
  }

  const show = (elm: Element) => {
    elm?.parentElement?.classList.remove("hidden", "opacity-0")
  }

  filterAll?.addEventListener("click", () => {
    filterAll?.classList.add(...activeClasses)
    filterJapanStyle?.classList.remove(...activeClasses)
    filterWesternStyle?.classList.remove(...activeClasses)

    for (const image of westImages) {
      show(image)
    }
    for (const image of japanImages) {
      show(image)
    }

    album?.scrollTo({ left: 0 })
  })

  filterWesternStyle?.addEventListener("click", () => {
    filterWesternStyle?.classList.add(...activeClasses)
    filterJapanStyle?.classList.remove(...activeClasses)
    filterAll?.classList.remove(...activeClasses)

    for (const image of westImages) {
      show(image)
    }
    for (const image of japanImages) {
      hide(image)
    }

    album?.scrollTo({ left: 0 })
  })

  filterJapanStyle?.addEventListener("click", () => {
    filterJapanStyle?.classList.add(...activeClasses)
    filterAll?.classList.remove(...activeClasses)
    filterWesternStyle?.classList.remove(...activeClasses)

    for (const image of westImages) {
      hide(image)
    }
    for (const image of japanImages) {
      show(image)
    }

    album?.scrollTo({ left: 0 })
  })
</script>
