---
import { Image } from "astro:assets"
import brideImg from "@/assets/bride.png"
import groomImg from "@/assets/groom.png"
import { Icon } from "astro-icon"
import HeartFloating from "./HeartFloating.astro"
import { getLangFromUrl, useTranslations } from "~/i18n/utils"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section
  class="bg-green-200 px-[2rem] pb-[6rem] pt-[4rem] pc:px-[6.8rem] pc:py-[10rem]"
>
  <div
    class="flex-center mx-auto flex-col gap-[1.6rem] pc:max-w-[1200px] pc:flex-row"
  >
    <div
      class="glowing-effect flex-1 before:rounded-[3rem] before:opacity-40"
      data-selector="brideImg"
    >
      <div
        class="relative z-10 flex flex-row-reverse items-center justify-end gap-[2.6rem] rounded-[3rem] bg-white px-[4rem] py-[3rem] pc:flex-row"
      >
        <h2 class="pc:text-right">
          <strong
            class="font-cormorant text-[2rem] font-bold tracking-wider pc:text-[3.5rem]"
          >
            THUÝ AN
          </strong>
          <br />
          <span
            class="font-cormorant text-[1.6rem] font-bold tracking-wider text-green-600"
          >
            {t("bridge")}
          </span>
        </h2>
        <div class="relative">
          <Image
            src={brideImg}
            alt="Ảnh cô dâu Thuý An"
            class="w-[13.8rem] rounded-full border-4 border-green-300"
          />
          <HeartFloating />
        </div>
      </div>
    </div>
    <Icon
      name="heart"
      class="heart-beating-effect w-1/5 max-w-[8rem] pc:w-[5vw] [&_path]:fill-green-400"
    />
    <div
      class="glowing-effect flex-1 before:rounded-[3rem] before:opacity-40"
      data-selector="groomImg"
    >
      <div
        class="relative z-10 flex items-center gap-[2.6rem] rounded-[3rem] bg-white px-[4rem] py-[3rem]"
      >
        <div class="relative">
          <Image
            src={groomImg}
            alt="Ảnh chú rể Đức Anh"
            height="138"
            class="rounded-full border-4 border-green-300"
          />
          <HeartFloating />
        </div>
        <h2>
          <strong
            class="font-cormorant text-[2rem] font-bold tracking-wider pc:text-[3.5rem]"
          >
            ĐỨC ANH
          </strong>
          <br />
          <span
            class="font-cormorant text-[1.6rem] font-bold tracking-wider text-green-600"
          >
            {t("groom")}
          </span>
        </h2>
      </div>
    </div>
  </div>
  <p
    class="mt-[3rem] text-center font-cormorant text-[3.6rem] font-semibold tracking-wider pc:mt-[4.5rem] pc:text-[6rem]"
  >
    Are getting married !
  </p>
  <p
    class="mt-[1rem] text-center text-[1.6rem] font-light tracking-widest pc:text-[2rem]"
  >
    29.10.2023 - DAEWOO HOTEL HÀ NỘI
  </p>
</section>

<script>
  const brideImg = document.querySelector("[data-selector=brideImg]")
  const groomImg = document.querySelector("[data-selector=groomImg]")
  const brideHearts =
    brideImg?.querySelectorAll("[data-selector=heart-floating]") || []
  const groomHearts =
    groomImg?.querySelectorAll("[data-selector=heart-floating]") || []

  brideImg?.addEventListener("mouseover", () => {
    Array.from(groomHearts).forEach((heart) => heart.classList.add("animated"))
  })

  brideImg?.addEventListener("mouseout", () => {
    Array.from(groomHearts).forEach((heart) =>
      heart.classList.remove("animated")
    )
  })

  groomImg?.addEventListener("mouseover", () => {
    Array.from(brideHearts).forEach((heart) => heart.classList.add("animated"))
  })

  groomImg?.addEventListener("mouseout", () => {
    Array.from(brideHearts).forEach((heart) =>
      heart.classList.remove("animated")
    )
  })
</script>
