---
import { Image } from "astro:assets"
import brideImg from "@/assets/bride.png"
import groomImg from "@/assets/groom.png"
import { Icon } from "astro-icon"
---

<section class="bg-green-200 px-[6.8rem] py-[10rem]">
  <div class="flex-center mx-auto max-w-[1200px] gap-[1.6rem]">
    <div class="glowing-effect flex-1 before:rounded-[3rem] before:opacity-40">
      <div
        class="relative z-10 flex items-center justify-end gap-[2.6rem] rounded-[3rem] bg-white px-[4rem] py-[3rem]"
      >
        <h2 class="text-right">
          <strong class="font-cormorant text-[3.5rem] font-bold tracking-wider">
            THUÝ AN
          </strong>
          <br />
          <span
            class="font-cormorant text-[1.6rem] font-bold tracking-wider text-green-600"
          >
            CÔ DÂU
          </span>
        </h2>
        <Image
          src={brideImg}
          alt="Ảnh cô dâu Thuý An"
          class="w-[13.8rem] rounded-full border-4 border-green-300"
        />
      </div>
    </div>
    <Icon
      name="heart"
      class="heart-beating-effect w-[5vw] max-w-[8rem] [&_path]:fill-green-400"
    />
    <div class="glowing-effect flex-1 before:rounded-[3rem] before:opacity-40">
      <div
        class="relative z-10 flex items-center gap-[2.6rem] rounded-[3rem] bg-white px-[4rem] py-[3rem]"
      >
        <Image
          src={groomImg}
          alt="Ảnh chú rể Đức Anh"
          height="138"
          class="rounded-full border-4 border-green-300"
        />
        <h2>
          <strong class="font-cormorant text-[3.5rem] font-bold tracking-wider">
            ĐỨC ANH
          </strong>
          <br />
          <span
            class="font-cormorant text-[1.6rem] font-bold tracking-wider text-green-600"
          >
            CHỦ RỂ
          </span>
        </h2>
      </div>
    </div>
  </div>
  <p
    class="mt-[4.5rem] text-center font-cormorant text-[6rem] font-semibold tracking-wider"
  >
    Are getting married !
  </p>
  <p class="mt-[1rem] text-center text-[2rem] font-light tracking-widest">
    29.10.2023 - DAEWOO HOTEL HÀ NỘI
  </p>
</section>
