---
import { Image } from "astro:assets"
import { FirstView } from "./FirstView"
import brideImg from "@/assets/bride.png"
import groomImg from "@/assets/groom.png"
import { Icon } from "astro-icon"
---

<main class="relative">
  <div class="relative">
    <a
      href="https://goo.gl/maps/yZWFhHm9bXvhWeoSA"
      target="_blank"
      class="absolute bottom-28 left-1/2 z-10 mx-auto -translate-x-1/2 hover:opacity-80"
    >
      <Icon
        name="main_slide_text"
        height={68}
        title="ĐỨC ANH & THUÝ AN 29.10.2023 - DAEWOO HOTEL HÀ NỘI"
      />
    </a>
    <FirstView client:load />
  </div>
  <section class="bg-green-200 px-[6.8rem] py-[10rem]">
    <div class="flex-center gap-[2rem]">
      <div class="glowing-effect before:rounded-[3rem] before:opacity-60">
        <div
          class="flex-center relative z-10 gap-[2.6rem] rounded-[3rem] bg-white px-[5rem] py-[3rem]"
        >
          <h2>
            <strong class="font-cormorant text-[3.5rem] font-bold">
              THUÝ AN
            </strong>
            <br />
            <span class="font-cormorant text-[1.6rem] font-bold text-green-600">
              CÔ DÂU
            </span>
          </h2>
          <Image
            src={brideImg}
            alt="Ảnh cô dâu Thuý An"
            height="138"
            class="rounded-full border-4 border-green-300"
          />
        </div>
      </div>
      <Icon
        name="heart"
        height={60}
        class="heart-beating-effect [&_path]:fill-green-400"
      />
      <div class="glowing-effect before:rounded-[3rem] before:opacity-60">
        <div
          class="flex-center relative z-10 gap-[2.6rem] rounded-[3rem] bg-white px-[6rem] py-[3rem]"
        >
          <Image
            src={groomImg}
            alt="Ảnh chú rể Đức Anh"
            height="138"
            class="rounded-full border-4 border-green-300"
          />
          <h2>
            <strong class="font-cormorant text-[3.5rem] font-bold">
              ĐỨC ANH
            </strong>
            <br />
            <span class="font-cormorant text-[1.6rem] font-bold text-green-600">
              CHỦ RỂ
            </span>
          </h2>
        </div>
      </div>
    </div>
    <p
      class="mt-[4.5rem] text-center font-cormorant text-[6rem] font-semibold tracking-wider"
    >
      Are getting married !
    </p>
    <p class="mt-[1rem] text-center text-[2rem] font-light tracking-widest">
      29.10.2023 - DAEWOO HOTEL HÀ NỘI
    </p>
  </section>
</main>
