---
import { FirstView } from "./FirstView"
// import MainTextImg from "@/assets/main_slide_text.svg"
import { Icon } from "astro-icon"
---

<main class="relative">
  <div class="relative">
    <a
      href="https://goo.gl/maps/yZWFhHm9bXvhWeoSA"
      target="_blank"
      class="absolute bottom-36 left-1/2 z-10 mx-auto -translate-x-1/2 hover:opacity-80"
    >
      <Icon
        name="main_slide_text"
        height={68}
        title="ĐỨC ANH & THUÝ AN 29.10.2023 - DAEWOO HOTEL HÀ NỘI"
      />
    </a>
    <FirstView client:load />
  </div>
</main>
