---
import { Image } from "astro:assets"
import beOurGuestImg from "@/assets/be-our-guest.png"
import beOurGuestImgSP from "@/assets/be-our-guest-sp.png"
import HeartFloating from "./HeartFloating.astro"
import { getLangFromUrl } from "~/i18n/utils"
import type { ImageMetadata } from "astro"

const timeline = await Astro.glob<{ default: ImageMetadata }>(
  "/src/assets/timeline-{1,2,3,4,5}.png"
)
const timelineJa = await Astro.glob<{ default: ImageMetadata }>(
  "/src/assets/timeline-{1,2,3,4,5}-ja.png"
)

const lang = getLangFromUrl(Astro.url)
---

<div class="overflow-hidden">
  <picture>
    <source media="(min-width: 768px)" srcset={beOurGuestImg.src} />
    <Image
      src={beOurGuestImgSP}
      alt="Be Our Guest !"
      class="relative left-1/2 mx-auto -translate-x-1/2 tablet:min-w-[1440px]"
    />
  </picture>
</div>
<section
  id="timeline"
  class="bg-green-200 px-[2rem] py-[3rem] tablet:px-[5vw] tablet:py-[4vw]"
>
  <div class="container mx-auto">
    <h3
      class="text-[1.6rem] tracking-[1.4rem] text-green-400 tablet:text-[2.2rem]"
    >
      WEDDING
    </h3>
    <h2
      class="font-cormorant text-[3.2rem] leading-[1.4em] tracking-widest text-black-light tablet:text-[4.8rem]"
    >
      TIMELINE
    </h2>
    <div
      class="mt-[2rem] snap-x overflow-x-auto overflow-y-hidden tablet:mt-[4rem] tablet:max-w-[1440px]"
    >
      <ol class="flex w-[80rem] tablet:w-auto">
        <li
          class="group relative w-1/2 cursor-context-menu snap-start tablet:flex-1"
        >
          <Image
            src={lang === "vi" ? timeline[0]?.default : timelineJa[0]?.default}
            alt="13:30 Lễ đón dâu được tổ chức tại tư gia nhà gái"
          />
          <HeartFloating count={6} delayMultiply={0.2} />
        </li>
        <li
          class="group relative w-1/2 cursor-context-menu snap-start tablet:flex-1"
        >
          <Image
            src={lang === "vi" ? timeline[1]?.default : timelineJa[1]?.default}
            alt="15:00 Lễ thành hôn được tổ chức tại tư gia nhà trai"
          />
          <HeartFloating count={6} delayMultiply={0.2} />
        </li>
        <li
          class="group relative w-1/2 cursor-context-menu snap-start tablet:flex-1"
        >
          <Image
            src={lang === "vi" ? timeline[2]?.default : timelineJa[2]?.default}
            alt="17:30 Checkin và đón khách tại Daehoo hotel"
          />
          <HeartFloating count={6} delayMultiply={0.2} />
        </li>
        <li
          class="group relative w-1/2 cursor-context-menu snap-start tablet:flex-1"
        >
          <Image
            src={lang === "vi" ? timeline[3]?.default : timelineJa[3]?.default}
            alt="18:00 Tiệc cưới bắt đầu, rút thăm may mắn"
          />
          <HeartFloating count={6} delayMultiply={0.2} />
        </li>
        <li
          class="group relative w-1/2 cursor-context-menu snap-start tablet:flex-1"
        >
          <Image
            src={lang === "vi" ? timeline[4]?.default : timelineJa[4]?.default}
            alt="19:30 Tung hoa, kết thúc lễ cưới"
          />
          <HeartFloating count={6} delayMultiply={0.2} />
        </li>
      </ol>
    </div>
  </div>
</section>
