---
import { Image } from "astro:assets"
import beOurGuestImg from "@/assets/be-our-guest.png"
import HeartFloating from "./HeartFloating.astro"
import { getLangFromUrl } from "~/i18n/utils"
import type { ImageMetadata } from "astro"

const timeline = await Astro.glob<{ default: ImageMetadata }>(
  "/src/assets/timeline-{1,2,3,4,5}.png"
)
const timelineJa = await Astro.glob<{ default: ImageMetadata }>(
  "/src/assets/timeline-{1,2,3,4,5}-ja.png"
)

const lang = getLangFromUrl(Astro.url)
---

<div class="overflow-hidden">
  <Image
    src={beOurGuestImg}
    alt="Be Our Guest !"
    class="relative left-1/2 mx-auto min-w-[1440px] -translate-x-1/2"
  />
</div>
<section id="timeline" class="bg-green-200 px-[5vw] py-[4vw]">
  <div class="container mx-auto">
    <h3 class="text-[2.2rem] tracking-[1.4rem] text-green-400">WEDDING</h3>
    <h2
      class="font-cormorant text-[4.8rem] leading-[1.4em] tracking-widest text-black-light"
    >
      TIMELINE
    </h2>
    <ol class="mt-[4rem] flex max-w-[1440px]">
      <li class="group relative flex-1 cursor-context-menu">
        <Image
          src={lang === "vi" ? timeline[0]?.default : timelineJa[0]?.default}
          alt="13:30 Lễ đón dâu được tổ chức tại tư gia nhà gái"
        />
        <HeartFloating count={6} delayMultiply={0.2} />
      </li>
      <li class="group relative flex-1 cursor-context-menu">
        <Image
          src={lang === "vi" ? timeline[1]?.default : timelineJa[1]?.default}
          alt="15:00 Lễ thành hôn được tổ chức tại tư gia nhà trai"
        />
        <HeartFloating count={6} delayMultiply={0.2} />
      </li>
      <li class="group relative flex-1 cursor-context-menu">
        <Image
          src={lang === "vi" ? timeline[2]?.default : timelineJa[2]?.default}
          alt="17:30 Checkin và đón khách tại Daehoo hotel"
        />
        <HeartFloating count={6} delayMultiply={0.2} />
      </li>
      <li class="group relative flex-1 cursor-context-menu">
        <Image
          src={lang === "vi" ? timeline[3]?.default : timelineJa[3]?.default}
          alt="18:00 Tiệc cưới bắt đầu, rút thăm may mắn"
        />
        <HeartFloating count={6} delayMultiply={0.2} />
      </li>
      <li class="group relative flex-1 cursor-context-menu">
        <Image
          src={lang === "vi" ? timeline[4]?.default : timelineJa[4]?.default}
          alt="19:30 Tung hoa, kết thúc lễ cưới"
        />
        <HeartFloating count={6} delayMultiply={0.2} />
      </li>
    </ol>
  </div>
</section>
