---
import BaseLayout from "~/layouts/Base.astro"
import Main from "@/components/Main/index.astro"
import Footer from "~/components/Footer.astro"
import Header from "~/components/Header.astro"
import { SITE_TITLE } from "~/consts"
import Modal from "@/components/Modal.astro"
import Envelope from "@/components/Envelope.astro"
import { getLangFromUrl, useTranslations } from "~/i18n/utils"

export async function getStaticPaths() {
  return [
    {
      params: {
        lang: undefined,
      },
    },
    {
      params: {
        lang: "vi",
      },
    },
    {
      params: {
        lang: "ja",
      },
    },
  ]
}

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<BaseLayout>
  <Modal modalTriggerSelector="envelope" slot="teleport">
    <div class="w-[80vw] max-w-[600px]">
      <p class="mb-3 text-center text-[1.6rem] text-white">
        {t("swipe")}
      </p>
      <Envelope />
    </div>
  </Modal>

  <div class="grid h-screen grid-cols-[minmax(350px,20%)_auto_auto_auto_auto]">
    <button
      class="flex-center fixed left-8 top-8 z-[998] rounded-xl bg-white p-3 shadow-md pc:hidden"
      data-selector="toggle-sidebar-trigger"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="h-[2.4rem] w-[2.4rem] stroke-green-600"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
    <div
      class="invisible fixed left-0 top-0 z-20 -translate-x-full bg-green-100 transition-all duration-300 pc:visible pc:relative pc:col-span-1 pc:block pc:translate-x-0"
      data-selector="sidebar-header"
    >
      <Header title={SITE_TITLE} />
    </div>
    <div class="col-span-5 min-w-full pc:col-span-4">
      <Main />
      <Footer class="" />
    </div>
  </div>
</BaseLayout>

<script>
  const toggleSidebarTrigger = document.querySelector(
    "[data-selector=toggle-sidebar-trigger]"
  )
  const sidebarHeader = document.querySelector("[data-selector=sidebar-header]")

  const envelopeBtn = document.querySelector("[data-selector=envelope]")

  toggleSidebarTrigger?.addEventListener("click", () => {
    sidebarHeader?.classList.toggle("-translate-x-full")
    sidebarHeader?.classList.toggle("invisible")
    sidebarHeader?.classList.toggle("active")
  })

  // Close sidebar when click outside
  window.addEventListener("click", (e) => {
    // console.log(e.target)
    if (
      (!sidebarHeader?.classList.contains("invisible") &&
        !sidebarHeader?.contains(e.target as Node) &&
        !toggleSidebarTrigger?.contains(e.target as Node)) ||
      envelopeBtn?.contains(e.target as Node)
    ) {
      sidebarHeader?.classList.add("-translate-x-full")
      sidebarHeader?.classList.add("invisible")
      sidebarHeader?.classList.remove("active")
    }
  })
</script>
