---
import { Image } from "astro:assets"
import artImg from "@/assets/art.png"
import { Icon } from "astro-icon"
import { getLangFromUrl, useTranslations } from "~/i18n/utils"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<footer id="footer" class="bg-green-200 p-[3rem] pc:px-[5vw] pc:py-[4vw]">
  <div
    class="flex-center container mx-auto flex-col gap-[3rem] text-center pc:flex-row pc:gap-[6rem] pc:text-left"
  >
    <div class="overflow-hidden">
      <Image src={artImg} alt="Tranh vẽ cô dâu chú rể" height={260} />
    </div>
    <div>
      <h2 class="text-semibold text-black-drak text-[1.4rem] pc:text-[1.8rem]">
        {t("qr")}
      </h2>
      <hr class="mx-auto mt-[1rem] w-[10rem] border-[1px] pc:mx-0" />
      <ul
        class="mt-[5rem] flex w-full flex-col gap-[5rem] tracking-wider pc:flex-row"
      >
        <li class="flex gap-[2rem]">
          <Icon
            name="bank-1"
            class="h-[8.5rem]"
            tittle="QR Code tài khoản ngân hàng cô đâu"
          />
          <p class="text-[1.4rem]">
            <strong class="text-[1.6rem] font-bold">{t("bridge")}</strong>
            <br />
             NGUYỄN THỊ THUÝ AN <br />
             19034502550015 <br />
             Ngân hàng techcombank
          </p>
        </li>
        <li class="flex gap-[2rem]">
          <Icon
            name="bank-1"
            class="h-[8.5rem]"
            tittle="QR Code tài khoản ngân hàng cô đâu"
          />
          <p class="text-[1.4rem]">
            <strong class="text-[1.6rem] font-bold">
              {t("groom")}
            </strong>
            <br />
             DƯƠNG ĐỨC ANH
            <br />
             0021000376111 <br />
             Ngân hàng vietcombank
          </p>
        </li>
      </ul>
    </div>
  </div>
</footer>
