---
import { Image } from "astro:assets"
import artImg from "@/assets/art.png"
import { Icon } from "astro-icon"
---

<footer id="bank" class="bg-green-200 px-[5vw] py-[4vw]">
  <div class="flex-center container mx-auto gap-[6rem]">
    <div class="overflow-hidden">
      <Image src={artImg} alt="Tranh vẽ cô dâu chú rể" height={260} />
    </div>
    <div>
      <h2 class="text-semibold text-black-drak text-[1.8rem]">
        QUÉT QR MỪNG HẠNH PHÚC CHO CÔ DÂU CHÚ RỂ!
      </h2>
      <hr class="mt-[1rem] w-[10rem] border-[1px]" />
      <ul class="mt-[5rem] flex w-full gap-[5rem] tracking-wider">
        <li class="flex gap-[2rem]">
          <Icon
            name="bank-1"
            class="h-[8.5rem]"
            tittle="QR Code tài khoản ngân hàng cô đâu"
          />
          <p class="text-[1.4rem]">
            <strong class="text-[1.6rem] font-bold">CÔ DÂU</strong>
            <br />
             NGUYỄN THỊ THUÝ AN <br />
             19034502550015 <br />
             Ngân hàng techcombank
          </p>
        </li>
        <li class="flex gap-[2rem]">
          <Icon
            name="bank-1"
            class="h-[8.5rem]"
            tittle="QR Code tài khoản ngân hàng cô đâu"
          />
          <p class="text-[1.4rem]">
            <strong class="text-[1.6rem] font-bold">CHÚ RỂ</strong>
            <br />
             DƯƠNG ĐỨC ANH
            <br />
             0021000376111 <br />
             Ngân hàng vietcombank
          </p>
        </li>
      </ul>
    </div>
  </div>
</footer>
