---
// import { SITE_TITLE } from "../consts"
import { CustomCountDown } from "@/components/CountDown"

// Image
import { Image } from "astro:assets"
import logoImg from "~/assets/logo.png"
import ducAnhThuyAnImg from "~/assets/duc_anh_thuy_an.png"
import envelope from "~/assets/envelope.png"
import { Icon } from "astro-icon"
---

<header
  class="sticky left-0 top-0 flex min-h-screen flex-col px-[3.2rem] py-[5rem]"
>
  <div class="flex-center">
    <Image src={logoImg} alt="A/A" width={60} height={60} />
  </div>
  <h1 class="flex-center mt-[1.5rem] flex-col">
    <Image
      src={ducAnhThuyAnImg}
      height={26}
      alt="ĐỨC ANH & THÚY AN - 29.10.2023 - Daewoo Hotel Ha Noi"
    />
  </h1>
  <strong
    class="mt-[0.6rem] text-center text-[1.2rem] font-medium leading-none tracking-[4px] text-green"
  >
    29.10.2023
  </strong>
  <nav class="mt-[4rem]">
    <ul
      class="flex-center flex-col gap-[2.4rem] text-[1.6rem] font-light leading-none tracking-wider"
    >
      <li class="border-b-after pb-1">
        <a href="#top">Top</a>
      </li>
      <li class="border-b-after pb-1">
        <a href="#our-story">Our story</a>
      </li>
      <li class="border-b-after pb-1">
        <a href="#timeline">Timeline</a>
      </li>
      <li class="border-b-after pb-1">
        <a href="#gallery">Gallery</a>
      </li>
      <li class="border-b-after pb-1">
        <a href="#map">Map & Contact Us</a>
      </li>
    </ul>
  </nav>
  <div
    class="flex-center mb-[4rem] mt-[2.4rem] divide-x text-[1.6rem] font-light leading-none tracking-wider"
  >
    <button class="px-[2rem]">
      <span class="border-b-after">VN</span>
    </button>
    <button class="px-[2rem]">
      <span class="border-b-after">JP</span>
    </button>
  </div>
  <div class="flex-center my-[4rem]">
    <div class="glowing-effect ringing-effect">
      <Image src={envelope} height={82} alt="Envelope" />
    </div>
  </div>
  <p class="flex-center font-cormorant text-[1.6rem] tracking-wider text-green">
    Looking forward to see you!
  </p>
  <CustomCountDown
    client:only
    date={new Date("2023/10/29 18:00:00 GMT+07:00")}
  />
  <hr class="mx-auto my-12 h-1 w-[68px] text-green" />
  <p class="text-center text-[1.2rem] leading-loose tracking-widest text-green">
    Duc Anh & Thuy An Wedding <br />
     29.10.2023.
    <a
      href="https://goo.gl/maps/yZWFhHm9bXvhWeoSA"
      target="_blank"
      class="inline-flex items-center gap-2 hover:text-black-light"
    >
      Daewoo Hotel Ha Noi <Icon
        name="map-pin"
        class="stroke-green"
        height="18"
      />
    </a>
  </p>
</header>
