---
import HeaderLink from "./HeaderLink.astro"
import { SITE_TITLE } from "../consts"
import { Image } from "astro:assets"
import logoImg from "~/assets/logo.png"
---

<header class="h-screen">
  <div>
    <Image src={logoImg.src} alt="A/A" width={60} height={60} />
  </div>
  <nav>
    <ul>
      <li>
        <a href="/" class="text-2xl font-bold">{{ SITE_TITLE }}</a>
      </li>
      <li>
        <HeaderLink href="/about">About</HeaderLink>
      </li>
      <li>
        <HeaderLink href="/blog">Blog</HeaderLink>
      </li>
      <li>
        <HeaderLink href="/projects">Projects</HeaderLink>
      </li>
    </ul>
  </nav>
</header>
