---
import HeaderLink from "./HeaderLink.astro"
// import { SITE_TITLE } from "../consts"
import { Image } from "astro:assets"
import logoImg from "~/assets/logo.png"
import logoImg2x from "~/assets/logo@2x.png"
---

<header class="h-screen px-12 py-16">
  <div>
    <Image
      src={logoImg}
      alt="A/A"
      width={60}
      height={60}
      srcset={`${logoImg2x.src} 2x 1400w`}
    />
  </div>
  <nav>
    <ul>
      <li>
        <HeaderLink href="/about">About</HeaderLink>
      </li>
      <li>
        <HeaderLink href="/blog">Blog</HeaderLink>
      </li>
      <li>
        <HeaderLink href="/projects">Projects</HeaderLink>
      </li>
    </ul>
  </nav>
</header>
